html, body {
  height: 100%;
  background: #ffffff;
}

/*main colors*/
.is-gold {
  background-color: #ffc300;
  color: #FFFFFF;
  border-color: transparent;
}

.is-gold:hover,  .button.is-gold:focus{
  background-color: #FF9700;
  color: #FFFFFF;
  border-color: transparent;
  border-bottom: 0px solid !important;
}

/*navigation*/
.logo {
  font-family: 'Work Sans', sans-serif;
}

.nav-item.title {
  margin: 10px;
}

a.nav-item.is-tab:hover {
  border-bottom: 1px solid #f5f7fa;
  border-top: 1px solid transparent;
}

a.nav-item.is-tab.is-active {
  border-bottom: 4px solid #ffc300;
  border-top: 4px solid transparent;
}

.hero.is-dark a.nav-item.is-active {
  color: #ffc300;
}

/*back button*/
.icon a {
  color: #aeb1b5;
}

.icon a:hover {
  color: #ffc300;
  border-width: 0;
}

/*override default form colors*/
.input:active, .textarea:active, .input:focus, .textarea:focus, .input.is-active, .is-active.textarea, .select select:active, .select select:focus, .select::after {
  border-color: #ffc300;
}

/*tables*/
td:last-child {
  text-align: right;
}

.detail-info {
  margin-bottom: 0.6em;
}
