<h3 class="title is-3">
  <span class="icon is-medium">
    <a class="fa fa-angle-left" ui-sref="student.list"></a>
  </span>
  {{studentDetail.student.firstName}} {{studentDetail.student.lastName}}
</h3>

<div class="columns">
  <!-- Assignment List -->
  <div class="column is-two-thirds">
    <div class="box">
      <p class="title is-4">Assignments</p>
      <table class="table">
        <thead>
          <tr>
            <th>Project</th>
            <th>Grade</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- Repeat rows for each assignment -->
          <tr ng-repeat="assignment in studentDetail.student.assignments">
            <td>{{assignment.project.name}}</td>
            <td>
              <span ng-hide="assignment.editMode">{{assignment.grade}}</span>
              <span ng-show="assignment.editMode">
                <input ng-model="assignment.grade" type="number" min="0" max="100" class="input">
              </span>
            </td>
            <td>
              <button class="button is-gold" ng-click="assignment.editMode = true" ng-hide="assignment.editMode">Grade</button>
              <button class="button is-primary" ng-click="studentDetail.updateAssignment(assignment)" ng-show="assignment.editMode">Submit</button>
              <button class="button is-danger" ng-click="studentDetail.deleteAssignment(assignment)">Delete</button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Assign Project -->
  <div class="column">
    <div class="box">
      <p class="title is-5">Assign Project</p>
      <p class="control has-addons">
        <span class="select">
          <select ng-options="project.name for project in studentDetail.projects" ng-model="studentDetail.assignedProject">
            <option value="">Select project</option>
          </select>
        </span>
        <button class="button is-gold" ng-click="studentDetail.assignProject(studentDetail.assignedProject)">Assign</button>
      </p>
    </div>

    <!-- Student Details -->
    <div class="box">
      <p class="title is-5">Details
        <span class="icon is-pulled-right" ng-click="studentDetail.toggleEdit();">
          <a class="fa fa-pencil"></a>
        </span>
      </p>
      <form name="studentForm" ng-submit="studentForm.$valid && studentDetail.updateStudent();">
        <!-- Student Name -->
        <div ng-show="studentDetail.editMode" class="columns">
          <div class="column is-half">
            <label class="label">First Name</label>
            <p class="control">
              <input ng-model="studentDetail.editingStudent.firstName" class="input" type="text" required>
            </p>
          </div>
          <div class="column is-half">
            <label class="label">Last Name</label>
            <p class="control">
                <input ng-model="studentDetail.editingStudent.lastName" type="text" class="input" required>
            </p>
          </div>
        </div>
        <div ng-hide="studentDetail.editMode">
          <label class="label">Student Name</label>
          <p class="detail-info">{{studentDetail.student.firstName}} {{studentDetail.student.lastName}}</p>
        </div>

        <label class="label">Email</label>
        <p class="control" ng-show="studentDetail.editMode">
            <input ng-model="studentDetail.editingStudent.emailAddress" type="email" class="input">
        </p>
        <p ng-hide="studentDetail.editMode" class="detail-info">{{studentDetail.student.emailAddress ? studentDetail.student.emailAddress : "None"}}</p>

        <label class="label">Phone Number</label>
        <p class="control" ng-show="studentDetail.editMode">
            <input ng-model="studentDetail.editingStudent.telephone" type="text" class="input">
        </p>
        <p ng-hide="studentDetail.editMode" class="detail-info">{{studentDetail.student.telephone ? studentDetail.student.telephone : "None"}}</p>

        <input ng-show="studentDetail.editMode" class="button is-gold" type="submit" value="Submit" />
        <button ng-show="studentDetail.editMode" class="button is-danger is-pulled-right" ng-click="studentDetail.deleteStudent();">Delete</button>
    </div>
  </div>
</div>
